<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= category %></h1>
    <ul>
        <% menuItems.forEach(item => { %>
            <li>
                <% if (item.rating === 5) { %>
                    ⭐
                <% } %>
                name: <%= item.name %> <br>
                price: $<%= item.price %> <br>
                rating: <%= item.rating %> <br>
                description: <%= item.details %>
            </li>
        <% }) %>
    </ul>
</body>
</html>